name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync files to S3
        run: aws s3 sync . s3://gustavoalcantara --delete --exclude ".git/*" --exclude ".github/*"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id EFC3MKK8HJCHG --paths \
            "/others/TodaysMatches/todaysmatches.html" \
            "/index.html" \
            "/gusapps/GusPadSoundboard/en/terms.html" \
            "/gusapps/GusPadSoundboard/en/privacy.html" \
            "/gusapps/GusPadSoundboard/terms.html" \
            "/gusapps/GusPadSoundboard/privacy.html" \
            "/gusapps/GusPadSoundboard/en/index.html" \
            "/gusapps/GusPadSoundboard/index.html"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
